<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BluetoothTest1.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <BluetoothTest1.Settings1>
            <setting name="TokenMap" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>wachtmeister=LED1!LED2!LED3!SERVOX30!SERVOY90!</string>
                        <string>abraham=LED1!LED2!LED3!SERVOX50!SERVOY120!</string>
                        <string>netterdon=LED1!LED2!LED3!SERVOX40!SERVOY130!</string>
                        <string>nesslinger=LED1!LED2!LED3!SERVOX120!SERVOY30!</string>
                        <string>fleischhauer=LED1!LED2!LED3!SERVOX100!SERVOY80!</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="Timer" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="Folder" serializeAs="String">
                <value>g:\predator</value>
            </setting>
            <setting name="TimerAktiv" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BTAdresse" serializeAs="String">
                <value>20:14:04:29:27:94</value>
            </setting>
        </BluetoothTest1.Settings1>
    </applicationSettings>
</configuration>